<% if notice %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="alert alert-info"><%= notice %></div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#new-company">Nueva</button>
  </div>
  <br>
  <div class="col-md-12">
    <% @companies.each do |company| %>
      <div class="col-md-3">
        <%= link_to company_path(company) do %>
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <div class="div">
                <%= image_tag company.logo.url, :class => 'img-circle', :width => '100px', :height => '100px' %>
              </div>
              <h4><%= company.name %></h4>
              <p>
                <% if company.status == 'active' %>
                  <%= link_to 'Activo', company_status_path(company, 'suspended') %>
                <% elsif company.status == 'pending' %>
                  <%= link_to 'Pendiente', company_status_path(company, 'active') %>
                <% else %>
                  <%= link_to 'Suspendida', company_status_path(company, 'active') %>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% content_for :modal do %>
  <%= render 'new_company' %>
<% end %>
